@font-face {
    font-family: SpaceAge;
    src: url("../fonts/space-age.ttf");
    font-weight:400;
}

#header{
text-align: center;
color: #05ED3B; 
background-color: black;
background-image: url("../images/stars.jpg");
font-family: SpaceAge;
height: 100px;
}

.errorMessage {
	color: red;
}

#height {
	height: 100px;
	background-color: rgb(39, 35, 35);
}

#height_2 {
	height: 740px;
	background-color: rgb(39, 35, 35);
}

#height_3 {
	height: 50px;
	background-color: rgb(39, 35, 35);
}

#height_4 {
	height: 40px;
	margin-top: 10px;
	background-color: rgb(39, 35, 35);
}
