@CHARSET "ISO-8859-1";

boby { 
  background: url(http://upload.wikimedia.org/wikipedia/commons/9/94/A_Website_Background.png)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
h2 {text-align: center;color:navy;font-family:"Comic Sans MS", cursive, sans-serif;}
p { text-align: center;font-family:"Comic Sans MS", cursive, sans-serif;}
label {display: block;}
.regform {}
fname {4px solid darkblue}
.buttonsubmit {float: right;
	color: navy;
    border: 4px solid darkblue; 
    }
    
    
    