@font-face {
    font-family: SpaceAge;
    src: url("../fonts/space-age.ttf");
    font-weight:400;
}

header{
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

text-align: center;
color: #05ED3B; 
background-color: black;
background-image: url("../images/stars.jpg");
font-family: SpaceAge;
margin-bottom: 5px;
}

.errorMessage {
	color: red;
}